.container{
    background:white;
    position: fixed;
    width:230px;
    height:400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 5px #888888;
}

.content{
    text-align: center;
    padding:10px;
}

.butloggin{
    background: rgba(255, 0, 0, 0.46);
    padding: 5px;
    width:195px;
    margin-top:20px;
}
.butfblog{
    background: rgba(102, 87, 255, 0.46);
    padding: 5px;
    width:195px;
    margin-top:20px;
}

input{
    float: left;
    height:25px;
    width:200px;
    margin-bottom: 10px;
}