
.nextpage, .prevpage{
    background: rgba(255, 0, 0, 0.46);
    float: left;
    color: white;
    padding:5px;
    cursor: pointer;
    margin-right:2px;
}

.refferednumber{
    background: rgba(255, 0, 0, 0.46);
    float: left;
    color: white;
    padding:5px;
    cursor: pointer;
    margin-right:2px;
}