<div [ngClass]="['categorysidebarfix', catgorsidfixShrink]" track-scroll (scrolled)="onScrolled($event)">
  <div class="line-separator"></div>
  CATEGORY
  <div class="line-separator"></div>
  <div class="category">
    <a  href="#computer"><div class="cat">Computer</div></a>
    <a href="#beauty"><div class="cat">Beauty</div></a>
    <a href="#book"><div class="cat">Book</div></a>
    <a href="#clothing"><div class="cat">Clothing</div></a>
    <a href="#game"><div class="cat">Games</div></a>
    <a href="#garden"><div class="cat">Garden</div></a>
    <a href="#health"><div class="cat">Health</div></a>
    <a href="#home"><div class="cat">Home</div></a>
    <a href="#jewelery"><div class="cat">Jewelery</div></a>
    <a href="#kid"><div class="cat">Kid</div></a>
    <a href="#movie"><div class="cat">Movie</div></a>
    <a href="#outdor"><div class="cat">Outdor</div></a>
    <a href="#shoe"><div class="cat">Shoes</div></a>
    <a href="#sport"><div class="cat">Sport</div></a>
  </div>
</div>